In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df= pd.read_csv("/content/loan_approval_data (1).csv")

In [4]:
# Identify the missing value (pandas and python)

In [8]:
df.isnull().sum()

Applicant_ID              50
Applicant_Income          50
Coapplicant_Income        50
Employment_Status         18
Age                       50
Marital_Status            10
Dependents                50
Credit_Score               7
Existing_Loans            50
DTI_Ratio                 50
Savings                   50
Collateral_Value          14
Loan_Amount               14
Loan_Term                 14
Loan_Purpose              10
Property_Area             16
Education_Level            8
Gender                    20
Employer_Category         19
Loan_Approved             14
Total_Income             343
Income                   343
Loan_to_Income_Ratio     343
Saving_to_Loan_Ratio     343
Approval_Flag            343
Credit_Score_Category    343
Employement_Stability    343
dtype: int64

In [9]:
df.isnull()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,...,Gender,Employer_Category,Loan_Approved,Total_Income,Income,Loan_to_Income_Ratio,Saving_to_Loan_Ratio,Approval_Flag,Credit_Score_Category,Employement_Stability
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,True,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
# Replace missing values
#Numeric columns

In [12]:
df["Applicant_Income"].fillna(df["Applicant_Income"].median(), inplace=True)
df["Credit_Score"].fillna(df["Credit_Score"].median(), inplace= True)

/tmp/ipython-input-887897281.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Applicant_Income"].fillna(df["Applicant_Income"].median(), inplace=True)
/tmp/ipython-input-887897281.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Credit_Score"].fillna(df["Credit_Score"].median(), inplace= True)

In [13]:
#Categorical columns

In [15]:
df["Employment_Status"].fillna(df["Employment_Status"].mode()[0], inplace=True)

/tmp/ipython-input-272646366.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Employment_Status"].fillna(df["Employment_Status"].mode()[0], inplace=True)

In [16]:
#Creating New Professional Columns

In [19]:
df["Total_Income"]= df["Applicant_Income"] + df["Coapplicant_Income"]

In [20]:
df["Approval_Flag"]= df["Loan_Approved"].map({"Y": 1, "N": 0})

In [21]:
#Credit Score Category(Using Conditions)

In [22]:
def credit_category(score):
  if score >= 750:
    return "Excellent"
  elif score >= 650:
    return "Good"
  elif score >= 550:
   return "Average"
  else:
    return "Poor"

In [23]:
df["Credit_Score_Category"] = df["Credit_Score"].apply(credit_category)

In [50]:
df.count()

Applicant_ID              950
Applicant_Income         1000
Coapplicant_Income        950
Employment_Status        1000
Age                       950
Marital_Status            990
Dependents                950
Credit_Score             1000
Existing_Loans            950
DTI_Ratio                 950
Savings                   950
Collateral_Value          986
Loan_Amount               986
Loan_Term                 986
Loan_Purpose              990
Property_Area             984
Education_Level           992
Gender                    980
Employer_Category         981
Loan_Approved             986
Total_Income              950
Income                    657
Loan_to_Income_Ratio      657
Saving_to_Loan_Ratio      657
Approval_Flag               0
Credit_Score_Category    1000
Employement_Stability     657
Risk_level               1000
dtype: int64

In [24]:
income_list= df["Applicant_Income"].tolist()

In [25]:
loan_columns= (
    "Applicant_Income",
    "Loan_Amount",
    "Credit_Score"
)

In [26]:
unique_property_area= set(df["Property_Area"])

In [29]:
approval_map= {
    "Y": 1,
    "N": 0
}

In [31]:
df["Approval_Flag"]= df["Loan_Approved"].map(approval_map)

In [33]:
if df["DTI_Ratio"].mean() > 0.4:
  print("High Risk Portfolio")
else:
  print("Low Risk Portfolio")

Low Risk Portfolio

In [35]:
df["Risk_level"] = df["DTI_Ratio"].apply(
    lambda x: "High" if x> 0.4 else "Low"
    )

In [36]:
#loop with conditions

In [37]:
for income in df["Applicant_Income"]:
  if income > 50000:
    print("High Income")

In [40]:
#For loop

In [39]:
for col in df.columns:
  print(col)

Applicant_ID
Applicant_Income
Coapplicant_Income
Employment_Status
Age
Marital_Status
Dependents
Credit_Score
Existing_Loans
DTI_Ratio
Savings
Collateral_Value
Loan_Amount
Loan_Term
Loan_Purpose
Property_Area
Education_Level
Gender
Employer_Category
Loan_Approved
Total_Income
Income
Loan_to_Income_Ratio
Saving_to_Loan_Ratio
Approval_Flag
Credit_Score_Category
Employement_Stability
Risk_level

In [41]:
#Slicing

In [42]:
#column silcing
df[["Applicant_Income", "Loan_Amount", "Credit_Score"]]

     Applicant_Income Loan_Amount  Credit_Score
0             17795.0       16619         637.0
1              2860.0       38687         621.0
2              7390.0       27943         674.0
3             13964.0       27819         579.0
4             13284.0       12741         721.0
..                ...         ...           ...
995           10548.0        8311         557.0
996            3279.0       22563         646.0
997           15192.0       16203         666.0
998            9083.0       10290         748.0
999           13093.0       35818         613.0

[1000 rows x 3 columns]

In [44]:
#Row slicing
df.iloc[0:10]

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,...,Employer_Category,Loan_Approved,Total_Income,Income,Loan_to_Income_Ratio,Saving_to_Loan_Ratio,Approval_Flag,Credit_Score_Category,Employement_Stability,Risk_level
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,...,Private,No,19182.0,Low,0.866385153,1.167519105,NaN,Average,Stable,High
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,...,Private,No,5539.0,Low,6.984473732,0.066689069,NaN,Average,Stable,Low
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,...,Government,Yes,9496.0,Low,2.942607414,0.49543714,NaN,Good,Stable,Low
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,...,Government,No,22137.0,Low,1.256674346,0.343398397,NaN,Average,Stable,Low
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,...,Private,Yes,17507.0,Low,0.727766036,0.73667687,NaN,Good,Variable,Low
5,6.0,8265.0,4831.0,Salaried,53.0,Single,1.0,602.0,1.0,0.56,...,Unemployed,No,13096.0,Low,0.748167379,1.992447438,NaN,Average,Stable,High
6,7.0,18850.0,2768.0,Salaried,58.0,Married,0.0,687.0,0.0,0.48,...,Private,No,21618.0,Low,1.20931631,0.559805684,NaN,Good,Stable,High
7,8.0,6426.0,3186.0,Salaried,47.0,Married,2.0,636.0,4.0,NaN,...,NaN,No,9612.0,NaN,NaN,NaN,NaN,Average,NaN,Low
8,9.0,16423.0,NaN,Salaried,54.0,Married,1.0,729.0,0.0,0.59,...,Private,No,NaN,NaN,NaN,NaN,NaN,Good,NaN,High
9,10.0,13363.0,2599.0,Contract,35.0,Single,3.0,726.0,1.0,NaN,...,Government,Yes,15962.0,NaN,NaN,NaN,NaN,Good,NaN,Low

In [45]:
#conditional slicing
df[df["Loan_Approved"]== "Y"]

Empty DataFrame
Columns: [Applicant_ID, Applicant_Income, Coapplicant_Income, Employment_Status, Age, Marital_Status, Dependents, Credit_Score, Existing_Loans, DTI_Ratio, Savings, Collateral_Value, Loan_Amount, Loan_Term, Loan_Purpose, Property_Area, Education_Level, Gender, Employer_Category, Loan_Approved, Total_Income, Income, Loan_to_Income_Ratio, Saving_to_Loan_Ratio, Approval_Flag, Credit_Score_Category, Employement_Stability, Risk_level]
Index: []

[0 rows x 28 columns]