In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df= pd.read_csv("/content/loan_approval_data (1).csv")

In [7]:
df.describe()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Age,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Total_Income,Approval_Flag
count,950.000000,950.000000,950.000000,950.000000,950.000000,993.000000,950.000000,950.000000,950.000000,657.000000,657.000000
mean,501.220000,10852.571579,5082.455789,39.971579,1.474737,646.759315,1.950526,0.347263,9940.452632,16158.401826,0.315068
std,289.608451,5061.632859,2943.161570,11.139797,1.105067,154.344306,1.406246,0.144341,5860.736885,5914.475773,0.464897
min,1.000000,2009.000000,1.000000,21.000000,0.000000,0.000000,0.000000,0.100000,65.000000,3275.000000,0.000000
25%,250.250000,6730.750000,2472.750000,30.250000,1.000000,606.000000,1.000000,0.220000,4760.250000,11642.000000,0.000000
50%,499.500000,10548.000000,5205.500000,40.000000,1.000000,673.000000,2.000000,0.340000,9880.500000,16525.000000,0.000000
75%,752.750000,15190.000000,7620.750000,49.000000,2.000000,735.000000,3.000000,0.480000,15074.500000,20543.000000,1.000000
max,1000.000000,19988.000000,9996.000000,59.000000,3.000000,799.000000,4.000000,0.600000,19996.000000,29000.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Applicant_ID           950 non-null    float64
 1   Applicant_Income       950 non-null    float64
 2   Coapplicant_Income     950 non-null    float64
 3   Employment_Status      982 non-null    object
 4   Age                    950 non-null    float64
 5   Marital_Status         990 non-null    object
 6   Dependents             950 non-null    float64
 7   Credit_Score           993 non-null    float64
 8   Existing_Loans         950 non-null    float64
 9   DTI_Ratio              950 non-null    float64
 10  Savings                950 non-null    float64
 11  Collateral_Value       986 non-null    object
 12  Loan_Amount            986 non-null    object
 13  Loan_Term              986 non-null    object
 14  Loan_Purpose           990 non-null    object
 15  Property_Area          984 non-null    object
 16  Education_Level        992 non-null    object
 17  Gender                 980 non-null    object
 18  Employer_Category      981 non-null    object
 19  Loan_Approved          986 non-null    object
 20  Total_Income           657 non-null    float64
 21  Income                 657 non-null    object
 22  Loan_to_Income_Ratio   657 non-null    object
 23  Saving_to_Loan_Ratio   657 non-null    object
 24  Approval_Flag          657 non-null    float64
 25  Credit_Score_Category  657 non-null    object
 26  Employement_Stability  657 non-null    object
dtypes: float64(11), object(16)
memory usage: 211.1+ KB

In [9]:
df.head()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,...,Gender,Employer_Category,Loan_Approved,Total_Income,Income,Loan_to_Income_Ratio,Saving_to_Loan_Ratio,Approval_Flag,Credit_Score_Category,Employement_Stability
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,...,Female,Private,No,19182.0,Low,0.866385153,1.167519105,0.0,Average,Stable
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,...,Not Disclosed,Private,No,5539.0,Low,6.984473732,0.066689069,0.0,Average,Stable
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,...,Female,Government,Yes,9496.0,Low,2.942607414,0.49543714,1.0,Average,Stable
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,...,Female,Government,No,22137.0,Low,1.256674346,0.343398397,0.0,Poor,Stable
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,...,Male,Private,Yes,17507.0,Low,0.727766036,0.73667687,1.0,Good,Variable

In [10]:
df.shape

(1000, 27)

#Q1. How would you fill missing numerical values professionally?

In [11]:
num_cols= df.select_dtypes(include="number").columns

In [12]:
df[num_cols]= df[num_cols].fillna(df[num_cols].median())

#Q2. How do you fill missing categorical values without bias?

In [13]:
cat_cols = df.select_dtypes(include="object").columns
df[cat_cols] = df[cat_cols].fillna("Unknown")

#Q3. How do you create Total_Income using Pandas?

In [14]:
df["Total_Income"]= df["Applicant_Income"]+ df["Coapplicant_Income"]

#Q4.How do you create a binary Approval_Flag column?

In [15]:
df["Approval_Flag"] = df["Loan_Approved"].map({"Yes":1, "No": 0})

#Q5. How do you categorize Credit_Score in Pandas?

In [16]:
df["Credit_Score_Category"]= pd.cut(
    df["Credit_Score"],
    bins=[0, 600, 700, 850],
    labels= ["Poor", "Average", "Good"]
)

#Q6. How do you derive Employment_Stability from Employment_Status?

In [17]:
df["Employment_Stability"] = df["Employment_Status"].apply(
    lambda x: "Stable" if x == "Salaried" else "Variable"
)

#Q7. How do you analyze loan approval rate by Employment Stability?

In [18]:
df.groupby("Employment_Stability")["Approval_Flag"].mean()

Employment_Stability
Stable      0.292411
Variable    0.332669
Name: Approval_Flag, dtype: float64

#Q8. How do you analyze approval trends by Property_Area?

In [21]:
df.groupby("Property_Area")["Approval_Flag"].mean().sort_values(ascending= False)

Property_Area
Unknown      0.387755
Urban        0.318284
Rural        0.302158
Semiurban    0.300000
Name: Approval_Flag, dtype: float64

#Q9. How do you filter high-risk loan applicants using Pandas?

In [23]:
high_risk= df[
    (df["Credit_Score"] < 600) &
    (df["DTI_Ratio"] > 40)
]

#Q10. How do you perform correlation analysis in Pandas?

In [26]:
df.corr(numeric_only=True)

,Applicant_ID,Applicant_Income,Coapplicant_Income,Age,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Total_Income,Approval_Flag
Applicant_ID,1.000000,0.020630,0.040902,0.014607,0.015155,-0.019553,0.025020,0.000336,0.022667,0.038274,-0.005406
Applicant_Income,0.020630,1.000000,0.007171,-0.023409,-0.021137,0.011224,-0.011260,-0.009112,-0.028004,0.865403,0.125420
Coapplicant_Income,0.040902,0.007171,1.000000,0.014419,-0.025130,0.017585,0.012399,0.057934,-0.014565,0.507269,0.008778
Age,0.014607,-0.023409,0.014419,1.000000,-0.020520,-0.044567,0.022919,0.008149,-0.000948,-0.012949,-0.027374
Dependents,0.015155,-0.021137,-0.025130,-0.020520,1.000000,-0.048117,-0.027540,0.008207,-0.009919,-0.030809,-0.011539
Credit_Score,-0.019553,0.011224,0.017585,-0.044567,-0.048117,1.000000,-0.000193,0.026277,-0.027540,0.018485,0.194168
Existing_Loans,0.025020,-0.011260,0.012399,0.022919,-0.027540,-0.000193,1.000000,0.047104,0.034745,-0.003491,-0.035753
DTI_Ratio,0.000336,-0.009112,0.057934,0.008149,0.008207,0.026277,0.047104,1.000000,0.004887,0.021177,-0.460487
Savings,0.022667,-0.028004,-0.014565,-0.000948,-0.009919,-0.027540,0.034745,0.004887,1.000000,-0.031433,-0.016878
Total_Income,0.038274,0.865403,0.507269,-0.012949,-0.030809,0.018485,-0.003491,0.021177,-0.031433,1.000000,0.112729
Approval_Flag,-0.005406,0.125420,0.008778,-0.027374,-0.011539,0.194168,-0.035753,-0.460487,-0.016878,0.112729,1.000000

#Q11. How do you summarize loan approvals by Credit_Score_Category and Loan_Purpose together?

In [27]:
pd.pivot_table(
    df,
    values="Approval_Flag",
    index= "Credit_Score_Category",
    columns= "Loan_Purpose",
    aggfunc= "mean"
)

/tmp/ipython-input-1464662360.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pd.pivot_table(

Loan_Purpose,Business,Car,Education,Home,Other,Personal,Unknown
Credit_Score_Category,,,,,,,
Poor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
Average,0.293333,0.179487,0.245614,0.230769,0.250000,0.295775,0.4
Good,0.537313,0.472222,0.465753,0.542857,0.647059,0.522388,0.6

#Q12. How do you sort applicants by Loan_Amount?

In [28]:
df.sort_values(by= "Loan_Amount", ascending= False)

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,...,Employer_Category,Loan_Approved,Total_Income,Income,Loan_to_Income_Ratio,Saving_to_Loan_Ratio,Approval_Flag,Credit_Score_Category,Employement_Stability,Employment_Stability
887,888.0,10548.0,1689.0,Self-employed,59.0,Single,1.0,553.0,4.0,0.42,...,Private,No,12237.0,Unknown,Unknown,Unknown,0.0,Poor,Unknown,Variable
586,587.0,6363.0,5205.5,Salaried,44.0,Single,3.0,705.0,0.0,0.27,...,Private,No,11568.5,Unknown,Unknown,Unknown,0.0,Good,Unknown,Stable
681,682.0,3906.0,1367.0,Unemployed,40.0,Married,3.0,570.0,1.0,0.16,...,Private,No,5273.0,Unknown,Unknown,Unknown,0.0,Poor,Unknown,Variable
695,696.0,10548.0,8927.0,Salaried,36.0,Married,0.0,584.0,4.0,0.22,...,Private,No,19475.0,Unknown,Unknown,Unknown,0.0,Poor,Unknown,Stable
457,458.0,6846.0,105.0,Unemployed,40.0,Unknown,0.0,673.0,3.0,0.58,...,Private,No,6951.0,Unknown,Unknown,Unknown,0.0,Average,Unknown,Variable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,656.0,6432.0,3291.0,Salaried,45.0,Married,1.0,623.0,3.0,0.35,...,Unemployed,No,9723.0,Low,1.069114471,1.15026455,0.0,Average,Stable,Stable
998,999.0,9083.0,7380.0,Unemployed,50.0,Single,1.0,748.0,3.0,0.31,...,Private,Yes,16463.0,Low,0.625037964,1.311078717,1.0,Good,Variable,Variable
623,624.0,14234.0,3249.0,Salaried,22.0,Single,0.0,0.0,4.0,0.52,...,Unemployed,No,17483.0,Low,0.058056398,13.95665025,0.0,NaN,Stable,Stable
555,556.0,9266.0,3216.0,Self-employed,52.0,Married,1.0,567.0,1.0,0.28,...,MNC,No,12482.0,Unknown,Unknown,Unknown,0.0,Poor,Unknown,Variable
801,802.0,9804.0,5016.0,Contract,40.0,Single,0.0,633.0,2.0,0.35,...,Government,No,14820.0,Unknown,Unknown,Unknown,0.0,Average,Unknown,Variable

#Q13. How do you export the cleaned dataset back to Excel?

In [35]:
df.to_excel("cleaned_loan_data.xlsx", index=False)

#Q14. How do you calculate Loan_to_Income_Ratio?

In [31]:
df[["Loan_Amount", "Total_Income"]].dtypes

Loan_Amount      object
Total_Income    float64
dtype: object

In [32]:
df["Loan_Amount"] =pd.to_numeric(df["Loan_Amount"], errors="coerce")
df["Total_Income"] =pd.to_numeric(df["Total_Income"], errors="coerce")

In [34]:
df["Loan_to_Income_Ratio"]= df["Loan_Amount"] / df["Total_Income"]